.book-information-detail {
    margin: 15% 10%;
}

.previous-page-btn {
    margin: 1%;
}

.previous-page-btn:hover {
    transform: translateY(-2px);
}

.previous-page-btn:active {
    transform: translateY(0);
}

.book-information-container.book-detail {
    grid-template-columns: 0.8fr 1fr 1fr;
}

.favorite-book-btn {
    margin-top: 14%;
}