/* CSS for BookList */
.title {
    text-align: center;
    padding: 2%;
}

.book {
    padding: 10px;
    margin: 10px;
}

.book-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    margin: 0px 10vw;
}

/* CSS for BookDetail */
.book-image {
    height: 80%;
    display: block;
    margin: auto;
}

.book-information-container {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book-detail-table {
    background-color: aquamarine;
    height: 50%;
}

.record-container,
.book-container {
    margin: 2vh 10vw;
    height: 100%;
}

.book-information-detail {
    margin: 15% 10%;
}

.record-title {
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #F2DDDE;
    color: #050505;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #F2DDDE;
}

.navbar-parent {
    background-color: #89ABE3 !important;
    font-weight: bold;
}

.navbar-container {
    margin: 0rem 1rem !important;
}

.book-status-th {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    width: 41%;
    justify-content: space-between;
    margin: 40px 0px 0px 50px;
}

.search-option {
    width: 35%;
}

.keyword {
    display: flex;
    width: 50%;
}

.search-button {
    height: fit-content;
    background-color: #89ABE3 !important;
    border: none !important;
}