.book-image {
    height: 80%;
    display: block;
    margin: auto;
}

.book-information-container {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book-detail-table {
    background-color: aquamarine;
    height: 50%;
}

.record-container,
.book-container,
.book-add-container {
    margin: 2vh 10vw;
    height: 100%;
}

.record-title,
.book-add-title {
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #F2DDDE;
    color: #050505;
    text-align: left;
}

.styled-table td {
    padding: 12px 15px;
}

.styled-table th[colspan="4"] svg {
    position: relative;
    right: 50%;
    left: 50%;
}

.styled-table th {
    padding: 12px 15px;
    width: 60px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 65px;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #F2DDDE;
}

.book-index-th {
    width: 35px !important;
    padding: 12px 10px !important;
}

.navbar-parent {
    background-color: #89ABE3 !important;
    font-weight: bold;
}

.navbar-container {
    margin: 0rem 1rem !important;
}

.book-status-th {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-status-th svg {
    margin-left: 20px;
}

.book-information-container-btn {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book-information-container-btn:hover {
    cursor: pointer;
    border: 1px solid #c0b7af;
    border-radius: 25px;
    background-color: #f0eee9;
}